<h1>Welcome, {{ player_name if player_name else 'Guest' }}!</h1>

{% if past_game_scores %}
    <h3>Your History:</h3>
    <ul>
    {% for game in past_game_scores %}
        <li>Score: {{ game.score }} out of {{ game.total }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form method="POST" action="{{ url_for('start_quiz') }}">
    <input type="text" name="name" placeholder="Enter Your Name" required>
    <button type="submit">Start Quiz</button>
</form>

<!--This is the Home page and shoes the history of scores and welcomes the player with name input otherwise they are guest-->
<!--Requirement 1:Persistent User Identification and History>